pipeline/ODS2Integration.json
{
	"name": "ODS2Integration",
	"properties": {
		"activities": [
			{
				"name": "PurchaseStaging",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Set LMDT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "StagingPurchase",
						"type": "DataFlowReference",
						"parameters": {
							"LastModifiedDT": {
								"value": "'@{variables('LMDT')}'",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "StagingStockItem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Integration002",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "LastModifiedDT",
									"type": "Datetime",
									"value": "",
									"direction": "Output"
								}
							],
							"type": "Query",
							"text": "select @LastModifiedDT = [Last Trigger Datetime] from dbo.MasterTab"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set LMDT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "LMDT",
					"value": {
						"value": "@activity('Script1').output.outputParameters.LastModifiedDT",
						"type": "Expression"
					}
				}
			},
			{
				"name": "StagingStockItem",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "StagingStockItem",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"LastModifyDate": {
				"type": "String"
			},
			"LastModifiedDT": {
				"type": "String"
			},
			"LMDT": {
				"type": "String"
			}
		},
		"annotations": []
	}
}